.banner {
     background: url(../../images/banner.jpeg) 27% center no-repeat;
     min-height: 350px;
     background-size: cover;
     display: flex;
     align-items: center;
     justify-content: center;
     opacity: 0.9;
}